h1{
    text-align: center;
    color: coral;
}

#contenido1{
    padding: 10px;
    border: 15px solid rgb(12, 12, 231);
    margin: 20px;
    font-size: 20px;
    background-color: rgb(199, 202, 211);
    max-width: 300px;
    outline: 10px solid rgb(88, 88, 241);
    outline-offset: 10px;
}

#contenido2{
    padding: 10px;
    font-size: 20px;
    background-color: rgb(199, 202, 211);
    max-width: 300px;
    box-sizing: border-box;
}