<h1>Hola desde home</h1>

<article class="card">
    <div class="card-body">
        <p>www.google.com</p>
        <p>fdfdfdfsds3</p>
        <a href="#" class="btn btn-danger">Eliminar</a>
        <a href="#" class="btn btn-warning">Editar</a>
        <a href="#" class="btn btn-info">Copiar</a>
    </div>
</article><br>

{{#each list }}
    
{{/each}}
