*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item{
    background: tomato;
    width: 200px;
    height: 200px;
    margin: 20px;
    clip-path: circle(50% at top left);
    transition-property: clip-path;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

.container:hover .item{
    clip-path: circle(150% at top left);
    /* background: steelblue;
    width: 400px; */
}