#titulo{
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rojo{
    background-color: firebrick;
}
.rosa{
    background-color: deeppink;
}
.naranja{
    background-color: darkorange;
}
.amarillo{
    background-color: gold;
}
.morado{
    background-color: mediumpurple;
}
.verde{
    background-color: lime;
}
.azul{
    background-color: steelblue;
}

.rojo, .rosa, .naranja, .amarillo, .morado, .verde, .azul{
    color: white;
}