h1{
    color: #f72585;
    text-align: center;
}
p{
    color: #7209b7;
    background: #4cc9f0;
    padding: 15px;
    border: 10px solid #3a0ca3;
    margin: 50px 25px 10px 30px;
    text-align: center;
}