h1{
    text-align: center;
    color: orangered;
    text-shadow: 2px 2px 2px cornflowerblue;
}

div.contenedor{
    display: flex;
    background-color: purple;
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-wrap: wrap */
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    height: 500px;
}

div.contenedor > p{
    background-color: cornflowerblue;
    color: #f1faee;
    margin: 20px;
    padding: 15px;
    font-size: 1.5em;
}